<section class="section">
    <h2>📬 Contact Information</h2>
    <div class="contact-info">
        <div class="contact-item">
            <i class="fa fa-map-pin" aria-hidden="true"></i>
            <p>Bremen, Germany</p>
        </div>
        <div class="contact-item">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p>your.email@domain.com</p>
        </div>
        <div class="contact-item">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <p>linkedin.com/in/yourprofile</p>
        </div>
        <div class="contact-item">
            <i class="fa fa-github" aria-hidden="true"></i>
            <p>github.com/yourusername</p>
        </div>
    </div>
</section>