<section class="section">
    <h2>📆 Education Timeline</h2>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-date">2021 - Present</div>
            <h3>M. Sc. Digital Media (Media Informatik)</h3>
            <p>Universität Bremen</p>
            <p>Bremen, Germany</p>                
        </div>

        <div class="timeline-item">
            <div class="timeline-date">2008 - 2012</div>
            <h3>BSc Computer Science and Engineering</h3>
            <p>Khulna University of Engineering & Technology</p>
            <p>Khulna, Bangladesh</p>                
        </div>
    </div>
</section>